# Environment
NODE_ENV="development"
PORT=3005

# Secrets
JWT_SECRET="replace-with-shared-secret"

# Services
USERS_SERVICE_URL="http://localhost:3001"
PRODUCTS_SERVICE_URL="http://localhost:3002"
CHECKOUT_SERVICE_URL="http://localhost:3003"
PAYMENTS_SERVICE_URL="http://localhost:3004"

# Security
CORS_ORIGINS="*"

RATE_LIMIT_SHORT=10
RATE_LIMIT_MEDIUM=100
RATE_LIMIT_LONG=1000
