# Environment
NODE_ENV="development"
PORT=3003

# Secrets
JWT_SECRET="your-jwt-secret"

# Database
DB_HOST="localhost"
DB_PORT=5433
DB_USERNAME="docker"
DB_PASSWORD="docker"
DB_DATABASE="checkout"

# Services
USERS_SERVICE_URL="http://localhost:3001"
PRODUCTS_SERVICE_URL="http://localhost:3002"
PAYMENTS_SERVICE_URL="http://localhost:3004"

# RabbitMQ
RABBITMQ_URL="amqp://admin:admin@localhost:5672"
RABBITMQ_QUEUE_PAYMENTS="payment_queue"
RABBITMQ_EXCHANGE="payments"
